:root {
    --head-size: 5px;
    --board-width: 400px;
}

.wraper {
    padding: 5px;
    background-color: #5e1c1c;
}

.board-header {
    margin-bottom: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(252, 253, 45, 1) 100%);
}

input {
    display: none;
}

.game-board {
    background-color: black;
    width: var(--board-width);
    height: var(--board-width);
    position: relative;
    /* box-sizing: border-box; */
}

.snake-head {
    height: var(--head-size);
    width: var(--head-size);
    background-color: white;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
}


.body {
    height: var(--head-size);
    width: var(--head-size);
    background-color: greenyellow;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
}
.full-belly {
    box-shadow: 0 0 0 1px greenyellow;
}

.food {
    height: var(--head-size);
    width: var(--head-size);
    background-color: black;
    border: 1px solid white;
    position: absolute;
    display: none;
    box-sizing: border-box;
}

.game-over {
    color: red;
    font-size: 60px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    min-width: 355px;
}